:root {
    --bgcolor: black;
    --txtcolor: white;
    --hovercolor: #d71e22;
    --borderwidth: 1vh;
}

@font-face { font-family: imposter; src: url('fonts/VCR_OSD_MONO_1.001.ttf'); }
@font-face { font-family: joffrey; src: url('fonts/joffrey.ttf'); }
@font-face { font-family: amogus; src: url('fonts/AmongUs-Regular.ttf'); }

html {
    cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1563.cur), auto !important;
}

a {
    cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1570.cur), auto !important;
}

body {
    font-family: imposter, "sans-serif";
}

h1 {
    font-family: amogus, joffrey, "sans-serif";
}